@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.user-nav {
  text-transform: none;
}

.dropdown-menu {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;
}

.dropdown-menu-list {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}

.slider-description-item p:first-of-type {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  text-transform: none;
}

.slider-description-item p:last-of-type {
  text-transform: none;
}

.features-list th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  text-transform: none;
}

.features-list td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  text-transform: none;
}

.big-seller-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: none;
}

.services-controls {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;
  list-style-type: none;
}

.services-controls input[type=radio] {
  display: none;
}

.services-item h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  text-transform: none;
}

.services-item p {
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.about-us h2,
.contacts h2,
.chosen-item h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  text-transform: none;
}

.about-us p,
.contacts p {
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.transport-agency {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  text-transform: none;
}

.footer-user-nav {
  text-transform: none;
  line-height: 36px;
}

.adress {
  text-transform: none;
  line-height: 30px;
}

.services-menu {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.feedback-form,
.fieldset-legend,
.catalog-item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: none;
}

.breadcrumbs {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}

.filter h3,
.sort h3,
.catalog-pagination {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 4px;
}

.sort-by-tag {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-transform: none;
}

fieldset ul {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  text-transform: none;
}

.price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}

